
@{
    ViewBag.Title = "Calendario";
}



<div class="container">
    @* Row 1 *@
    <div class="row cuadros-agenda text-center">
        <div class="col-12">
            <a> @Html.ActionLink("Lunes", "Index", "Agenda")</a>
        </div>

    </div>

    <div class="row cuadros-dias text-center">
        <div class="col-12">
            <a> @Html.ActionLink("Martes", "Index", "Agenda")</a>
        </div>

    </div>
    <div class="row cuadros-dias text-center">
        <div class="col-12">
            <a> @Html.ActionLink("Miércoles", "Index", "Agenda")</a>
        </div>

    </div>
    <div class="row cuadros-dias text-center">
        <div class="col-12">
            <a> @Html.ActionLink("Jueves", "Index", "Agenda")</a>
        </div>

    </div>

    <div class="row cuadros-dias text-center">
        <div class="col-12">
            <a> @Html.ActionLink("Viernes", "Index", "Agenda")</a>
        </div>

    </div>
    <div class="row cuadros-dias text-center">
        <div class="col-12">
            <a> @Html.ActionLink("Sábado", "Index", "Agenda")</a>
        </div>

    </div>
    <div class="row cuadros-dias text-center">
        <div class="col-12">
            <a> @Html.ActionLink("Domingo", "Index", "Agenda")</a>
        </div>

    </div>

    
</div>
     

