<div class="container" style="margin-left:15px; margin-top:25px;">
    @* Row 1 *@
    <div class="row cuadros-menu text-center">

        <br />
        <br />
        <br />

        <div class="col-xs-5">
            <img src="~/Content/Icons/user48px.png" />
            <br />
            <a> @Html.ActionLink("Perfil del padre", "Padre", "Perfiles")</a>
        </div>

        <div class="col-xs-5 offset-1">
            <img src="~/Content/Icons/user_48px.png" />
            <br />
            <a>@Html.ActionLink("Perfil del niño", "Kid", "Perfiles")</a>
        </div>
    </div>
    <br />
    @* Row 2 *@
    <div class="row cuadros-menu text-center">
        <div class="col-xs-5">
            <img src="~/Content/Icons/puzzle_52px.png" />
            <br />
            <a>@Html.ActionLink("Pictograma", "Index", "Pictograma")</a>
        </div>

        <div class="col-xs-5 offset-1">
            <img src="~/Content/Icons/book_48px.png" />
            <br />
            <a>@Html.ActionLink("Agenda", "Index", "Agenda")</a>
        </div>
    </div>
    <br />
    @* Row 3 *@
    <div class="row cuadros-menu text-center">
        <div class="col-xs-5">
            <img src="~/Content/Icons/ticket_60px.png" />
            <br />
            <a>@Html.ActionLink("Suscripción", "Contact", "Home")</a>
        </div>

        <div class="col-xs-5 offset-1">
            <img src="~/Content/Icons/light_48px.png" />
            <br />
            <a>@Html.ActionLink("Ayuda", "About", "Home")</a>
        </div>
    </div>
    <br />
    @* Row 4  *@
    <div class="row cuadros-menu text-center">
        <div class="col-xs-5 offset-1">
            <img src="~/Content/Icons/exit_64px.png" />
            <br />
            <a>@Html.ActionLink("Cerrar Sesión", "Login", "Account" )</a>
        </div>
    </div>
</div>


