@model IEnumerable<manabi.Models.Agendum>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia1.Dia1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora1.Hora1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pictograma.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <a class="btn btn-default" href="@item.descripcion">Ver</a> @*@Html.DisplayFor(modelItem => item.descripcion)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia1.Dia1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora1.Hora1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pictograma.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
