<div class="container" style="margin-left:15px; margin-top:25px;">
    <br />
    <br />
  
    <h4>Pictogramas disponibles</h4>

    @* Row 1 *@
    <div class="row cuadros-menu text-center">
        <div class="col-xs-5">
            <img src="~/Content/Icons/toothbrush_48px.png" />
            <br />
            <a> @Html.ActionLink("Cepillarse los dientes", "Dientes", "Pictograma")</a>
        </div>

        <div class="col-xs-5 offset-1">
            <img src="~/Content/Icons/hair_brush_100px.png" />
            <br />
            <a>@Html.ActionLink("Cepillarse el cabello", "Cabello", "Pictograma")</a>
        </div>
    </div>
    <br />
    @* Row 2 *@
    <div class="row cuadros-menu text-center">
        <div class="col-xs-5">
            <img src="~/Content/Icons/shower_64px.png" />
            <br />
            <a>@Html.ActionLink("Bañarse", "Bañarse", "Pictograma")</a>
        </div>

        <div class="col-xs-5 offset-1">
            <img src="~/Content/Icons/food_bar_100px.png" />
            <br />
            <a>@Html.ActionLink("Comer", "Comer", "Pictograma")</a>
        </div>
    </div>
    <br />
    @* Row 3 *@
    <div class="row cuadros-menu text-center">
        <div class="col-xs-5">
            <img src="~/Content/Icons/books_60px.png" />
            <br />
            <a>@Html.ActionLink("Ir a la escuela","Escuela","Pictograma")</a>
        </div>

        <div class="col-xs-5 offset-1">
            <img src="~/Content/Icons/sleeping_in_bed_60px.png" />
            <br />
            <a>@Html.ActionLink("Dormir", "Dormir", "Pictograma")</a>
        </div>
    </div>
    <br />
    @* Row 4  *@
    <div class="row cuadros-menu text-center">
        <div class="col-xs-5">
            <img src="~/Content/Icons/home_60px.png" />
            <br />
            <a>@Html.ActionLink("Ir a casa", "Casa", "Pictograma")</a>
        </div>

        <div class="col-xs-5 offset-1">
            <img src="~/Content/Icons/game_controller_52px.png" />
            <br />
            <a>@Html.ActionLink("Jugar", "Jugar", "Pictograma")</a>
        </div>
    </div>
</div>

